#base_layer {
  background-image: url("./images/Melamine-wood-001.png");
}
html,
body {
  width: 100%;
  height: 100%;
}
#choice {
  display: none;
  background-color: white;
}
.canvas-container {
  display: inline-block;
  height: 100%;
}
canvas {
  width: 750px;
  height: 750px;
}
